---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <p>
    test text
  </p>
  <p class="doc">
    <%= link_to "Test of markdown", "/test/test.html.markdown" %>
  </p><!-- .doc -->
</div><!-- .welcome -->